.homepage-title {
  font-size: 28px;
  font-weight: 700;
  color: rgb(75, 75, 75);
}

.countries-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .countries-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .countries-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

